################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/DemoServer/.vs/DemoServer/v15/Server/sqlite3
/Server/DemoServer/DemoServer/bin
/Server/DemoServer/DemoServer/obj/Debug
/Server/DemoServer/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0
/Server/DemoServer/DemoServer/Packages
/Server/DemoServer/packages
/Server/DemoServer/DemoServer/obj/Release
/Library/Demo.Common/Demo.Common/bin/Debug
/Library/Demo.Common/Demo.Common/obj
/Library/Demo.Common/.vs/Demo.Common/v15/Server/sqlite3
